<ion-header>
  <ion-toolbar>
    <ion-title>Public</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row >
        <ion-col>
          <ion-button (click)="showActionSheet()" color='tertiary'shape="round" size="large" ><ion-icon name="albums-sharp"slot="start"></ion-icon><h2>FIR</h2></ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color='tertiary'shape="round" size="large" href='public-noc'><ion-icon name="checkmark-circle-sharp"slot="start"></ion-icon><h2>NOC</h2></ion-button>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color='tertiary'shape="round" size="large" href='public-appointment'><ion-icon name="people-sharp"slot="start"></ion-icon><h2>APPOINTMENT</h2></ion-button>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color='tertiary'shape="round" size="large" ><ion-icon name="stats-chart-sharp"slot="start"></ion-icon><h2>STATISTICS</h2></ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
    </div>
</ion-content>
