<ion-header>
  <ion-toolbar>
    <ion-title>public-appointment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header colour="dark"><h1>Appointment Details</h1><br></ion-card-header>
    <ion-card-content>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Phone number</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
</ion-card-content>
  </ion-card>
</ion-content>
<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Date & Time of appointment</ion-label>
      <ion-input></ion-input>
    </ion-item>
   
    <ion-item>
      <ion-label position="floating">Reason for appointment</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
<div>
  <ion-button color='success'shape="round" expand="full"><ion-icon name="create" slot="start"></ion-icon><h5>Submit</h5></ion-button>
  
  </div>
