<ion-header>
  <ion-toolbar color="dark">
    <ion-title><ion-icon name="document-text-sharp"></ion-icon>No Objection Certificate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Phone Number</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <div>
  <ion-button color='success'shape="round"><ion-icon  name="create"></ion-icon>Submit</ion-button>
  <ion-button color='danger' shape="round"><ion-icon name="close-sharp"></ion-icon>Clear</ion-button>
  </div>

</ion-content>
