<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="light"><ion-icon name="document-sharp"></ion-icon>FIR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header colour="dark"><h1>FIRST INFORMATION REPORT</h1><br><h2>(Under Section 154 Cr.P.C)</h2></ion-card-header>
    <ion-card-content>
  <ion-item>
    <ion-label position="floating">District</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Police Station</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">FIR no.</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Date</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Act & Section</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>

    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Date & Time of Offence</ion-label>
        <ion-input></ion-input>
      </ion-item>
     
      <ion-item>
        <ion-label position="floating">Description of offence</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Name of Complainant</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Father's/Husband's Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Complainant's Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Date of Birth</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nationality</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Complainant's Address</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>

  </ion-card>
  <ion-button color='success'><h2>Submit</h2></ion-button>
  <ion-button color='danger'><h2>Clear</h2></ion-button>
  

</ion-content>
