<ion-header >
  <ion-toolbar color="dark">
    
    <ion-title color="medium">
      Police Helper :)
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <h1>WELCOME!</h1>
  <div>
  <ion-grid>
    <ion-row >
      <ion-col>
      <ion-button color='tertiary'shape="round" size="large" ><ion-icon name="person-sharp"slot="start"></ion-icon><h2>PUBLIC</h2></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color='tertiary' shape="round" size="large"><ion-icon name="shield-sharp"slot="start"></ion-icon><h2>POLICE</h2></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color='tertiary' shape="round" size="large"><ion-icon name="ribbon-sharp"slot="start"></ion-icon><h2>ADMIN</h2></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
  
  
  
  
</ion-content>



