div {
  width:50%;
  align-items: center;
  margin: 10% 40%  ;
}

button {
  display:block;
  background-color: navy;
  padding:20px;
  margin:20px;
  height:80px;
  width :100px;
  color:white;
  font-size: large;
}

button:hover {
  background-color: rgb(101, 145, 160);
  color:black;
}

