

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Keisatsu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class ="toolbar">
      <ion-title size="large">Keisatsu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="card" size-md="6" offset-md="3">
    <div>
      <a href="#" class="public">Public</a>
      <a href="#" class="police">Police</a>
      <a href="#" class="admin">Admin</a>
    </div>
  </ion-card>
  

</ion-content>
